<!-- footer -->
<footer class="footer has-background-light">
	<div class="container">
		<div class="columns">
			<div class="column">
				<div class="content has-text-left">
					<p>
						<em>Фонд <a href="{{ site.custom.info.url }}/furry/"><strong>FURRY</strong></a> существует при поддержке сообщества <strong>FURRY / ФУРРИ</strong></em>
					</p>
				</div>
			</div>
			<div class="column">
				<div class="content has-text-right">
					<p>
						{{ site.custom.copyright }}
					</p>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- / footer -->

<!-- scripts -->
<script src="https://cdn.jsdelivr.net/npm/jquery"></script>
<script src="https://cdn.jsdelivr.net/npm/clipboard"></script>
<script src="{{ site.custom.cdn.url }}/scripts/bulma/bulma.min.js"></script>
<script src="{{ site.custom.cdn.url }}/scripts/theme/theme.min.js"></script>
<script src="{{ "/assets/js/theme.min.js" | relative_url }}"></script>
<!-- / scripts -->

</body>
</html>